.grocery-list {
  max-height: 75vh;
  min-width: 75vw;
  margin-bottom: 1rem;
  overflow: auto;
}

.grocery-list-header {
  padding-bottom: 20px;
}

.grocery-list-item {
  padding-bottom: 5px;
}

.grocery-button-container {
  padding-top: 20px;
  display: flex;
  gap: 15px;
}

.grocery-button {
  background-color: rgb(197, 218, 228);
  color: #000000;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 0.9rem;
  cursor: pointer;
}

.grocery-button:hover {
  background-color: #606576;
}

.grocery-button:active {
  background-color: #323337;
}
