header {
  width: 100%;
  background-color: rgb(255, 107, 1);
  border-bottom: 1px solid orangered;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Poetsen One", sans-serif;
  font-size: 2rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-bar {
  height: 100%;
}

.nav-item {
  padding: 0.75em;
  cursor: pointer;
  background-color: rgb(253, 152, 1);
  color: black;
  font-size: larger;
  font-weight: bold;
}

.nav-item:hover {
  background-color: rgb(253, 135, 1);
  color: black;
}

.nav-item.active {
  background-color: rgb(253, 64, 1);
  color: black;
}

.filter-icon {
  font-size: 2rem;
  cursor: pointer;
  margin: 10px;
  color: #000000;
}

.filter-icon:hover {
  color: #2c2c2c;
}

.filter-icon:active {
  color: #646464;
}
