@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, rgb(255, 247, 0), rgb(255, 141, 2));
}

.container {
  margin-top: 4rem;
}

.title {
  font-family: "Poetsen One", sans-serif;
  font-size: 4em;
  margin-bottom: 3rem;
}
