@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(255, 247, 0), rgb(255, 120, 2));
}

header {
  width: 100%;
  background-color: rgb(255, 107, 1);
  border-bottom: 1px solid orangered;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Poetsen One", sans-serif;
  font-size: 2rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-bar {
  height: 100%;
}

.nav-item {
  padding: 0.75em;
  cursor: pointer;
  background-color: rgb(253, 152, 1);
  color: black;
  font-size: larger;
  font-weight: bold;
}

.nav-item:hover {
  background-color: rgb(253, 135, 1);
  color: black;
}

.nav-item.active {
  background-color: rgb(253, 64, 1);
  color: black;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border: 5px solid black;
  background-color: rgb(255, 107, 1);
  padding: 2rem;
  min-width: 65%;
  max-height: 65%;
}

.recipes-list {
  max-height: 75vh;
  min-width: 75vw;
  margin-bottom: 1rem;
  overflow: auto;
}

.recipe-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #000000;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-image {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
}

.recipe-details {
  flex: 1;
  margin-left: 10px;
}

.recipe-details h3 {
  margin: 0;
  font-size: 1.2rem;
}

.recipe-details p {
  margin: 4px 0;
  font-size: 0.9rem;
  color: #000000;
}

.add-button {
  background-color: rgb(1, 173, 253);
  color: #000000;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 0.9rem;
  cursor: pointer;
}

.add-button:hover {
  background-color: #213788;
}
