@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(255, 247, 0), rgb(255, 120, 2));
}

header {
  width: 100%;
  background-color: rgb(255, 107, 1);
  border-bottom: 1px solid orangered;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Poetsen One", sans-serif;
  font-size: 2rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-bar {
  height: 100%;
}

.nav-item {
  padding: 0.75em;
  cursor: pointer;
  background-color: rgb(253, 152, 1);
  color: black;
  font-size: larger;
  font-weight: bold;
}

.nav-item:hover {
  background-color: rgb(253, 135, 1);
  color: black;
}

.nav-item.active {
  background-color: rgb(253, 64, 1);
  color: black;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border: 5px solid black;
  background-color: rgb(255, 107, 1);
  padding: 2rem;
  min-width: 65%;
  max-height: 65%;
}

.ingredients-instructions {
  font-size: larger;
  text-align: center;
  padding-bottom: 0.75rem;
}

.checkbox-group {
  margin: 0;
}

.checkbox-item label {
  display: block;
  padding: 0.3rem;
}

.content-button {
  float: right;
  margin: 0.75rem;
  padding: 0.75em;
  cursor: pointer;
  background-color: #2d5e7c;
  color: white;
  border: none;
  border-radius: 10px;
}

.content-button:hover {
  background-color: #27526d;
}

.content-button:focus {
  background-color: #1a394c;
}

.empty {
  text-align: center;
}

.drinks-container {
  max-height: 50vh;
  margin-bottom: 1rem;
  overflow: auto;
}

.drinks-list {
  padding: 0rem;
}

img {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.drink {
  max-height: 80px;
  display: flex;
  flex-direction: row;
  padding-top: 1.5rem;
}

.drink-name {
  padding-left: 1rem;
}
